/* Global CSS */

* {
  box-sizing: border-box;
}

/* Main Styles */
body {
    background-color: #FAFAFA;
    color: #4A4A4A;
    font-family: 'Karla', sans-serif;
}

.name {
    text-align: center;
    margin: auto;
}